.createPost {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: stretch;
  width: 600px;
   margin: 0 auto;
}
.createPost ,.content ,.placeholderTitle, .send{
   padding: 7px;
   border-radius: 5px;
    
}
.placeholderTitle, .content, .send{
    border: 1px solid gray;
}
.placeholderTitle{
    height: 35px;
    
}
button {
  border-radius: 25px;
  width: 140px;
  height: 45px;
  background-color: #bef264;
}
button:hover {
  background-color: #e3f988;
}
